const config = {
  // Bot owner ID
  "ownerID": "_Paste owner ID_",

  // Bot token from https://discordapp.com/developers/applications/me
  "token": "_Paste Token",

  // Bot Activity message that will load on.ready()
  "botActivity": "with friends",

  "defaultSettings": {
    // Server overwrite defaultSettings
    "prefix": "!",
    "modLogChannel": "mod-log",
    "modRole": "Moderator",
    "adminRole": "Administrator",
    "systemNotice": "true", // This gives a notice when a user tries to run a command that they do not have permission to use.
    "welcomeChannel": "welcome",
    "welcomeMessage": "Say hello to {{user}}, everyone! We all need a warm welcome sometimes :D",
    "welcomeEnabled": "false"
  },
};

module.exports = config;